<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>RocketManufacturer</key>
		<string>Polecat</string>
		<key>RocketKitArray</key>
		<array>
			<dict>
				<key>RocketName</key>
				<string>Nike Smoke</string>
				<key>RocketLength</key>
				<real>1.1</real>
				<key>RocketDiameter</key>
				<real>0.1016</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>54</integer>
				<key>RocketMass</key>
				<integer>2</integer>
				<key>RocketKitName</key>
				<string>Nike Smoke</string>
				<key>RocketManufacturer</key>
				<string>Polecat</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>Fat Man</string>
				<key>RocketLength</key>
				<real>1.3</real>
				<key>RocketDiameter</key>
				<real>0.254</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>98</integer>
				<key>RocketMass</key>
				<integer>8</integer>
				<key>RocketKitName</key>
				<string>Fat Man</string>
				<key>RocketManufacturer</key>
				<string>Polecat</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>RocketManufacturer</key>
		<string>Madcow</string>
		<key>RocketKitArray</key>
		<array>
			<dict>
				<key>RocketName</key>
				<string>Momba</string>
				<key>RocketLength</key>
				<real>0.60325</real>
				<key>RocketDiameter</key>
				<real>0.06604</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>29</integer>
				<key>RocketMass</key>
				<real>0.3969</real>
				<key>RocketKitName</key>
				<string>Momba</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>Skipper</string>
				<key>RocketLength</key>
				<real>1.13665</real>
				<key>RocketDiameter</key>
				<real>0.06604</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>29</integer>
				<key>RocketMass</key>
				<real>0.3969</real>
				<key>RocketKitName</key>
				<string>Skipper</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>Sensor FG</string>
				<key>RocketLength</key>
				<real>1.2192</real>
				<key>RocketDiameter</key>
				<real>0.1016</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>54</integer>
				<key>RocketMass</key>
				<real>2.26796</real>
				<key>RocketKitName</key>
				<string>Sensor FG</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>Army Hawk</string>
				<key>RocketLength</key>
				<real>0.92075</real>
				<key>RocketDiameter</key>
				<real>0.06604</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>29</integer>
				<key>RocketMass</key>
				<real>0.737088</real>
				<key>RocketKitName</key>
				<string>Army Hawk MIM-23A</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>Jay Hawk</string>
				<key>RocketLength</key>
				<real>0.78105</real>
				<key>RocketDiameter</key>
				<real>0.06604</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>29</integer>
				<key>RocketMass</key>
				<real>0.539</real>
				<key>RocketKitName</key>
				<string>Jay Hawk AQM-37A</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>Solar Express</string>
				<key>RocketLength</key>
				<real>0.8636</real>
				<key>RocketDiameter</key>
				<real>0.06604</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>29</integer>
				<key>RocketMass</key>
				<real>0.34</real>
				<key>RocketKitName</key>
				<string>Solar Express</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>Mozzie</string>
				<key>RocketLength</key>
				<real>0.4953</real>
				<key>RocketDiameter</key>
				<real>0.06604</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>29</integer>
				<key>RocketMass</key>
				<real>0.283</real>
				<key>RocketKitName</key>
				<string>Mozzie</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>Scooter</string>
				<key>RocketLength</key>
				<real>0.5588</real>
				<key>RocketDiameter</key>
				<real>0.05588</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>29</integer>
				<key>RocketMass</key>
				<real>0.17</real>
				<key>RocketKitName</key>
				<string>Scooter</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>Honest John</string>
				<key>RocketLength</key>
				<real>0.9651999999999999</real>
				<key>RocketDiameter</key>
				<real>0.06604</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>29</integer>
				<key>RocketMass</key>
				<real>0.794</real>
				<key>RocketKitName</key>
				<string>Honest John FG</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>Army Hawk</string>
				<key>RocketLength</key>
				<real>0.92075</real>
				<key>RocketDiameter</key>
				<real>0.06604</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>29</integer>
				<key>RocketMass</key>
				<real>0.595</real>
				<key>RocketKitName</key>
				<string>Army Hawk MIM-23B</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>Batray</string>
				<key>RocketLength</key>
				<real>0.6604</real>
				<key>RocketDiameter</key>
				<real>0.05588</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>29</integer>
				<key>RocketMass</key>
				<real>0.227</real>
				<key>RocketKitName</key>
				<string>Batray</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>Bomarc</string>
				<key>RocketLength</key>
				<real>1.07315</real>
				<key>RocketDiameter</key>
				<real>0.06604</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>29</integer>
				<key>RocketMass</key>
				<real>1.106</real>
				<key>RocketKitName</key>
				<string>Bomarc</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>Piranha</string>
				<key>RocketLength</key>
				<real>0.6223</real>
				<key>RocketDiameter</key>
				<real>0.06604</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>29</integer>
				<key>RocketMass</key>
				<real>0.595</real>
				<key>RocketKitName</key>
				<string>Piranha FG</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>Tembo</string>
				<key>RocketLength</key>
				<real>0.9016999999999999</real>
				<key>RocketDiameter</key>
				<real>0.1016</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>38</integer>
				<key>RocketMass</key>
				<real>0.879</real>
				<key>RocketKitName</key>
				<string>Tembo</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>Striker</string>
				<key>RocketLength</key>
				<real>1.2573</real>
				<key>RocketDiameter</key>
				<real>0.06604</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>29</integer>
				<key>RocketMass</key>
				<real>0.482</real>
				<key>RocketKitName</key>
				<string>Striker</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>Discovery</string>
				<key>RocketLength</key>
				<real>1.0033</real>
				<key>RocketDiameter</key>
				<real>0.06604</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>29</integer>
				<key>RocketMass</key>
				<real>0.425</real>
				<key>RocketKitName</key>
				<string>Discovery</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>DX3</string>
				<key>RocketLength</key>
				<real>1.1303</real>
				<key>RocketDiameter</key>
				<real>0.06604</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>29</integer>
				<key>RocketMass</key>
				<real>0.425</real>
				<key>RocketKitName</key>
				<string>DX3</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>Cowabunga</string>
				<key>RocketLength</key>
				<real>0.7239</real>
				<key>RocketDiameter</key>
				<real>0.1016</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>29</integer>
				<key>RocketMass</key>
				<real>0.85</real>
				<key>RocketKitName</key>
				<string>Cowabunga</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>Super DX3</string>
				<key>RocketLength</key>
				<real>1.6891</real>
				<key>RocketDiameter</key>
				<real>0.1016</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>38</integer>
				<key>RocketMass</key>
				<real>1.247</real>
				<key>RocketKitName</key>
				<string>Super DX3</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>Big Fizz</string>
				<key>RocketLength</key>
				<real>1.1811</real>
				<key>RocketDiameter</key>
				<real>0.1016</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>38</integer>
				<key>RocketMass</key>
				<real>1.049</real>
				<key>RocketKitName</key>
				<string>Big Fizz</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>Super Batray</string>
				<key>RocketLength</key>
				<real>1.3843</real>
				<key>RocketDiameter</key>
				<real>0.1016</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>38</integer>
				<key>RocketMass</key>
				<real>1.106</real>
				<key>RocketKitName</key>
				<string>Super Batray</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>Screech</string>
				<key>RocketLength</key>
				<real>1.0287</real>
				<key>RocketDiameter</key>
				<real>0.04064</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>29</integer>
				<key>RocketMass</key>
				<real>0.227</real>
				<key>RocketKitName</key>
				<string>Screech</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>Patriot</string>
				<key>RocketLength</key>
				<real>1.3335</real>
				<key>RocketDiameter</key>
				<real>0.1016</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>38</integer>
				<key>RocketMass</key>
				<real>1.503</real>
				<key>RocketKitName</key>
				<string>Patriot</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>Seawolf</string>
				<key>RocketLength</key>
				<real>1.2065</real>
				<key>RocketDiameter</key>
				<real>0.1016</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>38</integer>
				<key>RocketMass</key>
				<real>2.381</real>
				<key>RocketKitName</key>
				<string>Seawolf</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>Phoenix</string>
				<key>RocketLength</key>
				<real>1.0287</real>
				<key>RocketDiameter</key>
				<real>0.1016</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>38</integer>
				<key>RocketMass</key>
				<real>1.701</real>
				<key>RocketKitName</key>
				<string>Phoenix</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>lil Squat</string>
				<key>RocketLength</key>
				<real>0.4699</real>
				<key>RocketDiameter</key>
				<real>0.06604</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>29</integer>
				<key>RocketMass</key>
				<real>0.312</real>
				<key>RocketKitName</key>
				<string>lil Squat</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>Phoenix</string>
				<key>RocketLength</key>
				<real>0.5588</real>
				<key>RocketDiameter</key>
				<real>0.05588</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>29</integer>
				<key>RocketMass</key>
				<real>0.283</real>
				<key>RocketKitName</key>
				<string>Phoenix</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>lil Goblin</string>
				<key>RocketLength</key>
				<real>0.4699</real>
				<key>RocketDiameter</key>
				<real>0.06604</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>29</integer>
				<key>RocketMass</key>
				<real>0.312</real>
				<key>RocketKitName</key>
				<string>lil Goblin</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>Screech XL</string>
				<key>RocketLength</key>
				<real>1.0668</real>
				<key>RocketDiameter</key>
				<real>0.04064</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>38</integer>
				<key>RocketMass</key>
				<real>0.425</real>
				<key>RocketKitName</key>
				<string>Screech XL</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>Cricket</string>
				<key>RocketLength</key>
				<real>0.8128</real>
				<key>RocketDiameter</key>
				<real>0.1016</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>38</integer>
				<key>RocketMass</key>
				<real>0.85</real>
				<key>RocketKitName</key>
				<string>Cricket</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>Little John</string>
				<key>RocketLength</key>
				<real>1.2065</real>
				<key>RocketDiameter</key>
				<real>0.1016</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>38</integer>
				<key>RocketMass</key>
				<real>1.106</real>
				<key>RocketKitName</key>
				<string>Little John</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>Martian Transport</string>
				<key>RocketLength</key>
				<real>0.7874</real>
				<key>RocketDiameter</key>
				<real>0.06604</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>29</integer>
				<key>RocketMass</key>
				<real>0.425</real>
				<key>RocketKitName</key>
				<string>Martian Transport</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>Arcas HV</string>
				<key>RocketLength</key>
				<real>1.32715</real>
				<key>RocketDiameter</key>
				<real>0.06604</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>38</integer>
				<key>RocketMass</key>
				<real>0.964</real>
				<key>RocketKitName</key>
				<string>Arcas HV FG</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>PAC-3</string>
				<key>RocketLength</key>
				<real>1.27</real>
				<key>RocketDiameter</key>
				<real>0.06604</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>29</integer>
				<key>RocketMass</key>
				<real>0.595</real>
				<key>RocketKitName</key>
				<string>PAC-3</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>PRION</string>
				<key>RocketLength</key>
				<real>1.7526</real>
				<key>RocketDiameter</key>
				<real>0.1016</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>54</integer>
				<key>RocketMass</key>
				<real>2.268</real>
				<key>RocketKitName</key>
				<string>PRION</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>PAC-3</string>
				<key>RocketLength</key>
				<real>1.9939</real>
				<key>RocketDiameter</key>
				<real>0.1016</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>38</integer>
				<key>RocketMass</key>
				<real>1.701</real>
				<key>RocketKitName</key>
				<string>PAC-3</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>Patriot</string>
				<key>RocketLength</key>
				<real>0.85725</real>
				<key>RocketDiameter</key>
				<real>0.06604</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>38</integer>
				<key>RocketMass</key>
				<real>0.907</real>
				<key>RocketKitName</key>
				<string>Patriot FG</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>Hawk MIM-23B</string>
				<key>RocketLength</key>
				<real>0.92075</real>
				<key>RocketDiameter</key>
				<real>0.06604</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>38</integer>
				<key>RocketMass</key>
				<real>1.134</real>
				<key>RocketKitName</key>
				<string>Hawk MIM-23B FG</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>Nike Smoke</string>
				<key>RocketLength</key>
				<real>0.92075</real>
				<key>RocketDiameter</key>
				<real>0.06604</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>38</integer>
				<key>RocketMass</key>
				<real>0.652</real>
				<key>RocketKitName</key>
				<string>Nike Smoke FG</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>Black Brant II</string>
				<key>RocketLength</key>
				<real>1.31445</real>
				<key>RocketDiameter</key>
				<real>0.06604</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>38</integer>
				<key>RocketMass</key>
				<real>0.9360000000000001</real>
				<key>RocketKitName</key>
				<string>Black Brant II FG</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>Nike Smoke</string>
				<key>RocketLength</key>
				<real>1.4224</real>
				<key>RocketDiameter</key>
				<real>0.1016</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>54</integer>
				<key>RocketMass</key>
				<real>2.268</real>
				<key>RocketKitName</key>
				<string>Nike Smoke FG</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>Black Brant II</string>
				<key>RocketLength</key>
				<real>2.0066</real>
				<key>RocketDiameter</key>
				<real>0.1016</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>54</integer>
				<key>RocketMass</key>
				<real>3.175</real>
				<key>RocketKitName</key>
				<string>Black Brant II FG</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>Little John</string>
				<key>RocketLength</key>
				<real>1.1938</real>
				<key>RocketDiameter</key>
				<real>0.1016</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>54</integer>
				<key>RocketMass</key>
				<real>1.814</real>
				<key>RocketKitName</key>
				<string>Little John FG</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>Squat</string>
				<key>RocketLength</key>
				<real>0.7739</real>
				<key>RocketDiameter</key>
				<real>0.1016</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>54</integer>
				<key>RocketMass</key>
				<real>0.85</real>
				<key>RocketKitName</key>
				<string>Squat</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>Super DX3</string>
				<key>RocketLength</key>
				<real>1.6891</real>
				<key>RocketDiameter</key>
				<real>0.1016</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>54</integer>
				<key>RocketMass</key>
				<real>2.722</real>
				<key>RocketKitName</key>
				<string>Super DX3 FG</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>Frenzy</string>
				<key>RocketLength</key>
				<real>1.9939</real>
				<key>RocketDiameter</key>
				<real>0.1016</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>54</integer>
				<key>RocketMass</key>
				<real>2.155</real>
				<key>RocketKitName</key>
				<string>Frenzy</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>Aerobee 150A</string>
				<key>RocketLength</key>
				<real>1.4859</real>
				<key>RocketDiameter</key>
				<real>0.0762</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>38</integer>
				<key>RocketMass</key>
				<real>0.964</real>
				<key>RocketKitName</key>
				<string>Aerobee 150A</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>Aerobee Hi</string>
				<key>RocketLength</key>
				<real>1.4859</real>
				<key>RocketDiameter</key>
				<real>0.0762</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>38</integer>
				<key>RocketMass</key>
				<real>0.964</real>
				<key>RocketKitName</key>
				<string>Aerobee Hi</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>Frenzy XL</string>
				<key>RocketLength</key>
				<real>2.3876</real>
				<key>RocketDiameter</key>
				<real>0.1016</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>75</integer>
				<key>RocketMass</key>
				<real>6.35</real>
				<key>RocketKitName</key>
				<string>Frenzy XL</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>lil Goblin</string>
				<key>RocketLength</key>
				<real>0.50165</real>
				<key>RocketDiameter</key>
				<real>0.06604</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>29</integer>
				<key>RocketMass</key>
				<real>0.624</real>
				<key>RocketKitName</key>
				<string>lil Goblin FG</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>Frenzy Massive</string>
				<key>RocketLength</key>
				<real>3.2004</real>
				<key>RocketDiameter</key>
				<real>0.1397</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>98</integer>
				<key>RocketMass</key>
				<real>13.608</real>
				<key>RocketKitName</key>
				<string>Frenzy Massive</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>DX3 XL</string>
				<key>RocketLength</key>
				<real>2.3876</real>
				<key>RocketDiameter</key>
				<real>0.1016</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>75</integer>
				<key>RocketMass</key>
				<real>6.35</real>
				<key>RocketKitName</key>
				<string>DX3 XL</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>DX3 Massive</string>
				<key>RocketLength</key>
				<real>3.2004</real>
				<key>RocketDiameter</key>
				<real>0.1397</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>98</integer>
				<key>RocketMass</key>
				<real>13.608</real>
				<key>RocketKitName</key>
				<string>DX3 Massive</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>Mega Cowabunga</string>
				<key>RocketLength</key>
				<real>1.3843</real>
				<key>RocketDiameter</key>
				<real>0.2032</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>75</integer>
				<key>RocketMass</key>
				<real>12.247</real>
				<key>RocketKitName</key>
				<string>Mega Cowabunga</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>AGM-33 Pike</string>
				<key>RocketLength</key>
				<real>1.6891</real>
				<key>RocketDiameter</key>
				<real>0.1016</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>38</integer>
				<key>RocketMass</key>
				<real>1.701</real>
				<key>RocketKitName</key>
				<string>AGM-33 Pike</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>Tomach</string>
				<key>RocketLength</key>
				<real>1.524</real>
				<key>RocketDiameter</key>
				<real>0.05588</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>54</integer>
				<key>RocketMass</key>
				<real>1.361</real>
				<key>RocketKitName</key>
				<string>Tomach</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>Tomach</string>
				<key>RocketLength</key>
				<real>1.6764</real>
				<key>RocketDiameter</key>
				<real>0.05588</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>54</integer>
				<key>RocketMass</key>
				<real>1.361</real>
				<key>RocketKitName</key>
				<string>Tomach 66 inch</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>AGM-33 Pike</string>
				<key>RocketLength</key>
				<real>2.3368</real>
				<key>RocketDiameter</key>
				<real>0.1397</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>54</integer>
				<key>RocketMass</key>
				<real>10.886</real>
				<key>RocketKitName</key>
				<string>AGM-33 Pike FG</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>AGM-33 Pike</string>
				<key>RocketLength</key>
				<real>1.1049</real>
				<key>RocketDiameter</key>
				<real>0.06604</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>54</integer>
				<key>RocketMass</key>
				<real>1.134</real>
				<key>RocketKitName</key>
				<string>AGM-33 Pike FG</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>Batray</string>
				<key>RocketLength</key>
				<real>1.0795</real>
				<key>RocketDiameter</key>
				<real>0.0762</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>38</integer>
				<key>RocketMass</key>
				<real>1.389</real>
				<key>RocketKitName</key>
				<string>Batray FG</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>Honest John</string>
				<key>RocketLength</key>
				<real>1.4859</real>
				<key>RocketDiameter</key>
				<real>0.1397</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>54</integer>
				<key>RocketMass</key>
				<real>3.402</real>
				<key>RocketKitName</key>
				<string>Honest John</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>DX3</string>
				<key>RocketLength</key>
				<real>1.11125</real>
				<key>RocketDiameter</key>
				<real>0.06604</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>38</integer>
				<key>RocketMass</key>
				<real>0.794</real>
				<key>RocketKitName</key>
				<string>DX3 FG</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>Patriot</string>
				<key>RocketLength</key>
				<real>1.8542</real>
				<key>RocketDiameter</key>
				<real>0.1397</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>54</integer>
				<key>RocketMass</key>
				<real>7.711</real>
				<key>RocketKitName</key>
				<string>Patriot FG</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
			<dict>
				<key>RocketName</key>
				<string>Little John</string>
				<key>RocketLength</key>
				<real>0.9271</real>
				<key>RocketDiameter</key>
				<real>0.0762</real>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketMotorSize</key>
				<integer>38</integer>
				<key>RocketMass</key>
				<real>0.6820000000000001</real>
				<key>RocketKitName</key>
				<string>Little John FG</string>
				<key>RocketManufacturer</key>
				<string>Madcow</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>RocketManufacturer</key>
		<string>Wildman</string>
		<key>RocketKitArray</key>
		<array>
			<dict>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketDiameter</key>
				<real>0.02539999969303608</real>
				<key>RocketKitName</key>
				<string>Blackhawk 24</string>
				<key>RocketLength</key>
				<real>0.9017000198364258</real>
				<key>RocketManufacturer</key>
				<string>Wildman</string>
				<key>RocketMass</key>
				<real>0.1959999948740005</real>
				<key>RocketMotorSize</key>
				<integer>24</integer>
			</dict>
			<dict>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketDiameter</key>
				<real>0.03249929845333099</real>
				<key>RocketKitName</key>
				<string>Blackhawk 29</string>
				<key>RocketLength</key>
				<real>1.073150038719177</real>
				<key>RocketManufacturer</key>
				<string>Wildman</string>
				<key>RocketMass</key>
				<real>0.3152999877929688</real>
				<key>RocketMotorSize</key>
				<integer>29</integer>
			</dict>
			<dict>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketDiameter</key>
				<real>0.04191000014543533</real>
				<key>RocketKitName</key>
				<string>Blackhawk 38</string>
				<key>RocketLength</key>
				<real>1.441576957702637</real>
				<key>RocketManufacturer</key>
				<string>Wildman</string>
				<key>RocketMass</key>
				<real>0.7688000202178955</real>
				<key>RocketMotorSize</key>
				<integer>38</integer>
			</dict>
			<dict>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketDiameter</key>
				<real>0.0793749988079071</real>
				<key>RocketKitName</key>
				<string>Competitor 3</string>
				<key>RocketLength</key>
				<real>0</real>
				<key>RocketManufacturer</key>
				<string>Wildman</string>
				<key>RocketMass</key>
				<real>0</real>
				<key>RocketMotorSize</key>
				<integer>54</integer>
			</dict>
			<dict>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketDiameter</key>
				<real>0.1031875014305115</real>
				<key>RocketKitName</key>
				<string>Competitor 4</string>
				<key>RocketLength</key>
				<real>2.374900102615356</real>
				<key>RocketManufacturer</key>
				<string>Wildman</string>
				<key>RocketMass</key>
				<real>3.779999971389771</real>
				<key>RocketMotorSize</key>
				<integer>75</integer>
			</dict>
			<dict>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketDiameter</key>
				<real>0.130174994468689</real>
				<key>RocketKitName</key>
				<string>Competitor 5</string>
				<key>RocketLength</key>
				<real>3.04800009727478</real>
				<key>RocketManufacturer</key>
				<string>Wildman</string>
				<key>RocketMass</key>
				<real>8.652000427246094</real>
				<key>RocketMotorSize</key>
				<integer>98</integer>
			</dict>
			<dict>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketDiameter</key>
				<real>0.05783579871058464</real>
				<key>RocketKitName</key>
				<string>Darkstar Lite</string>
				<key>RocketLength</key>
				<real>1.111250042915344</real>
				<key>RocketManufacturer</key>
				<string>Wildman</string>
				<key>RocketMass</key>
				<real>0.5669999718666077</real>
				<key>RocketMotorSize</key>
				<integer>29</integer>
			</dict>
			<dict>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketDiameter</key>
				<real>0.04191000014543533</real>
				<key>RocketKitName</key>
				<string>Darkstar Mini</string>
				<key>RocketLength</key>
				<real>0.822579026222229</real>
				<key>RocketManufacturer</key>
				<string>Wildman</string>
				<key>RocketMass</key>
				<real>0.3849999904632568</real>
				<key>RocketMotorSize</key>
				<integer>29</integer>
			</dict>
			<dict>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketDiameter</key>
				<real>0.05783579871058464</real>
				<key>RocketKitName</key>
				<string>Darkstar Jr</string>
				<key>RocketLength</key>
				<real>1.484312534332275</real>
				<key>RocketManufacturer</key>
				<string>Wildman</string>
				<key>RocketMass</key>
				<real>1.600000023841858</real>
				<key>RocketMotorSize</key>
				<integer>38</integer>
			</dict>
			<dict>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketDiameter</key>
				<real>0.1031875014305115</real>
				<key>RocketKitName</key>
				<string>Darkstar 4 Dual Deploy</string>
				<key>RocketLength</key>
				<real>0</real>
				<key>RocketManufacturer</key>
				<string>Wildman</string>
				<key>RocketMass</key>
				<real>0</real>
				<key>RocketMotorSize</key>
				<integer>54</integer>
			</dict>
			<dict>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketDiameter</key>
				<real>0.1031875014305115</real>
				<key>RocketKitName</key>
				<string>Darkstar Extreme</string>
				<key>RocketLength</key>
				<real>2.533649921417236</real>
				<key>RocketManufacturer</key>
				<string>Wildman</string>
				<key>RocketMass</key>
				<real>6.269999980926514</real>
				<key>RocketMotorSize</key>
				<integer>75</integer>
			</dict>
			<dict>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketDiameter</key>
				<real>0.1571498066186905</real>
				<key>RocketKitName</key>
				<string>Ultimate Darkstar</string>
				<key>RocketLength</key>
				<real>0</real>
				<key>RocketManufacturer</key>
				<string>Wildman</string>
				<key>RocketMass</key>
				<real>0</real>
				<key>RocketMotorSize</key>
				<integer>98</integer>
			</dict>
			<dict>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketDiameter</key>
				<real>0.05783579871058464</real>
				<key>RocketKitName</key>
				<string>Drago</string>
				<key>RocketLength</key>
				<real>1.138237476348877</real>
				<key>RocketManufacturer</key>
				<string>Wildman</string>
				<key>RocketMass</key>
				<real>0.802299976348877</real>
				<key>RocketMotorSize</key>
				<integer>29</integer>
			</dict>
			<dict>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketDiameter</key>
				<real>0.04191000014543533</real>
				<key>RocketKitName</key>
				<string>Eagle Claw Mini</string>
				<key>RocketLength</key>
				<real>0.969962477684021</real>
				<key>RocketManufacturer</key>
				<string>Wildman</string>
				<key>RocketMass</key>
				<real>0.3330000042915344</real>
				<key>RocketMotorSize</key>
				<integer>29</integer>
			</dict>
			<dict>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketDiameter</key>
				<real>0.1031875014305115</real>
				<key>RocketKitName</key>
				<string>Eagle Claw 4</string>
				<key>RocketLength</key>
				<real>2.495549917221069</real>
				<key>RocketManufacturer</key>
				<string>Wildman</string>
				<key>RocketMass</key>
				<real>5.659999847412109</real>
				<key>RocketMotorSize</key>
				<integer>54</integer>
			</dict>
			<dict>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketDiameter</key>
				<real>0.130174994468689</real>
				<key>RocketKitName</key>
				<string>Gizmo</string>
				<key>RocketLength</key>
				<real>0.8572499752044678</real>
				<key>RocketManufacturer</key>
				<string>Wildman</string>
				<key>RocketMass</key>
				<real>1.485999941825867</real>
				<key>RocketMotorSize</key>
				<integer>54</integer>
			</dict>
			<dict>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketDiameter</key>
				<real>0.2033270001411438</real>
				<key>RocketKitName</key>
				<string>Gizmo XL</string>
				<key>RocketLength</key>
				<real>1.312585592269897</real>
				<key>RocketManufacturer</key>
				<string>Wildman</string>
				<key>RocketMass</key>
				<real>6.85699987411499</real>
				<key>RocketMotorSize</key>
				<integer>98</integer>
			</dict>
			<dict>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketDiameter</key>
				<real>0.2033270001411438</real>
				<key>RocketKitName</key>
				<string>Gizmo XL Dual Deploy</string>
				<key>RocketLength</key>
				<real>0</real>
				<key>RocketManufacturer</key>
				<string>Wildman</string>
				<key>RocketMass</key>
				<real>0</real>
				<key>RocketMotorSize</key>
				<integer>98</integer>
			</dict>
			<dict>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketDiameter</key>
				<real>0.0793749988079071</real>
				<key>RocketKitName</key>
				<string>Intimidator 3</string>
				<key>RocketLength</key>
				<real>2.240279912948608</real>
				<key>RocketManufacturer</key>
				<string>Wildman</string>
				<key>RocketMass</key>
				<real>3.441999912261963</real>
				<key>RocketMotorSize</key>
				<integer>54</integer>
			</dict>
			<dict>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketDiameter</key>
				<real>0.1031875014305115</real>
				<key>RocketKitName</key>
				<string>Intimidator 4</string>
				<key>RocketLength</key>
				<real>2.286317586898804</real>
				<key>RocketManufacturer</key>
				<string>Wildman</string>
				<key>RocketMass</key>
				<real>3.410000085830688</real>
				<key>RocketMotorSize</key>
				<integer>75</integer>
			</dict>
			<dict>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketDiameter</key>
				<real>0.130174994468689</real>
				<key>RocketKitName</key>
				<string>Intimidator 5</string>
				<key>RocketLength</key>
				<real>3.04800009727478</real>
				<key>RocketManufacturer</key>
				<string>Wildman</string>
				<key>RocketMass</key>
				<real>5.900000095367432</real>
				<key>RocketMotorSize</key>
				<integer>98</integer>
			</dict>
			<dict>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketDiameter</key>
				<real>0.05783579871058464</real>
				<key>RocketKitName</key>
				<string>Jart</string>
				<key>RocketLength</key>
				<real>0.5746750235557556</real>
				<key>RocketManufacturer</key>
				<string>Wildman</string>
				<key>RocketMass</key>
				<real>0.6230000257492065</real>
				<key>RocketMotorSize</key>
				<integer>29</integer>
			</dict>
			<dict>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketDiameter</key>
				<real>0.130174994468689</real>
				<key>RocketKitName</key>
				<string>Jart 5</string>
				<key>RocketLength</key>
				<real>0</real>
				<key>RocketManufacturer</key>
				<string>Wildman</string>
				<key>RocketMass</key>
				<real>0</real>
				<key>RocketMotorSize</key>
				<integer>54</integer>
			</dict>
			<dict>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketDiameter</key>
				<real>0.05783579871058464</real>
				<key>RocketKitName</key>
				<string>Shape Shifter Jr</string>
				<key>RocketLength</key>
				<real>1.479550004005432</real>
				<key>RocketManufacturer</key>
				<string>Wildman</string>
				<key>RocketMass</key>
				<real>1.684000015258789</real>
				<key>RocketMotorSize</key>
				<integer>38</integer>
			</dict>
			<dict>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketDiameter</key>
				<real>0.05783579871058464</real>
				<key>RocketKitName</key>
				<string>Vindicator Jr</string>
				<key>RocketLength</key>
				<real>1.490675210952759</real>
				<key>RocketManufacturer</key>
				<string>Wildman</string>
				<key>RocketMass</key>
				<real>1.41700005531311</real>
				<key>RocketMotorSize</key>
				<integer>38</integer>
			</dict>
			<dict>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketDiameter</key>
				<real>0.1031875014305115</real>
				<key>RocketKitName</key>
				<string>Vindicator Dual Deploy</string>
				<key>RocketLength</key>
				<real>2.192883491516113</real>
				<key>RocketManufacturer</key>
				<string>Wildman</string>
				<key>RocketMass</key>
				<real>4.412000179290771</real>
				<key>RocketMotorSize</key>
				<integer>54</integer>
			</dict>
			<dict>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketDiameter</key>
				<real>0.05783579871058464</real>
				<key>RocketKitName</key>
				<string>Warrior Jr</string>
				<key>RocketLength</key>
				<real>1.54622495174408</real>
				<key>RocketManufacturer</key>
				<string>Wildman</string>
				<key>RocketMass</key>
				<real>1.521999955177307</real>
				<key>RocketMotorSize</key>
				<integer>38</integer>
			</dict>
			<dict>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketDiameter</key>
				<real>0.05783579871058464</real>
				<key>RocketKitName</key>
				<string>Wild Thang Jr</string>
				<key>RocketLength</key>
				<real>1.490675210952759</real>
				<key>RocketManufacturer</key>
				<string>Wildman</string>
				<key>RocketMass</key>
				<real>1.429999947547913</real>
				<key>RocketMotorSize</key>
				<integer>38</integer>
			</dict>
			<dict>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketDiameter</key>
				<real>0.1031875014305115</real>
				<key>RocketKitName</key>
				<string>Wild Thang Extreme</string>
				<key>RocketLength</key>
				<real>2.548483610153198</real>
				<key>RocketManufacturer</key>
				<string>Wildman</string>
				<key>RocketMass</key>
				<real>5.363999843597412</real>
				<key>RocketMotorSize</key>
				<integer>75</integer>
			</dict>
			<dict>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketDiameter</key>
				<real>0.04191000014543533</real>
				<key>RocketKitName</key>
				<string>Wild Child</string>
				<key>RocketLength</key>
				<real>0.822579026222229</real>
				<key>RocketManufacturer</key>
				<string>Wildman</string>
				<key>RocketMass</key>
				<real>0.3869999945163727</real>
				<key>RocketMotorSize</key>
				<integer>29</integer>
			</dict>
			<dict>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketDiameter</key>
				<real>0.05783579871058464</real>
				<key>RocketKitName</key>
				<string>Wildman Jr</string>
				<key>RocketLength</key>
				<real>1.484312534332275</real>
				<key>RocketManufacturer</key>
				<string>Wildman</string>
				<key>RocketMass</key>
				<real>1.723000049591064</real>
				<key>RocketMotorSize</key>
				<integer>38</integer>
			</dict>
			<dict>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketDiameter</key>
				<real>0.0793749988079071</real>
				<key>RocketKitName</key>
				<string>Wildman</string>
				<key>RocketLength</key>
				<real>1.536700010299683</real>
				<key>RocketManufacturer</key>
				<string>Wildman</string>
				<key>RocketMass</key>
				<real>2.230000019073486</real>
				<key>RocketMotorSize</key>
				<integer>54</integer>
			</dict>
			<dict>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketDiameter</key>
				<real>0.0793749988079071</real>
				<key>RocketKitName</key>
				<string>Wildman Dual Deploy</string>
				<key>RocketLength</key>
				<real>2.222500085830688</real>
				<key>RocketManufacturer</key>
				<string>Wildman</string>
				<key>RocketMass</key>
				<real>3.861999988555908</real>
				<key>RocketMotorSize</key>
				<integer>54</integer>
			</dict>
			<dict>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketDiameter</key>
				<real>0.1031875014305115</real>
				<key>RocketKitName</key>
				<string>Extreme Wildman</string>
				<key>RocketLength</key>
				<real>2.533649921417236</real>
				<key>RocketManufacturer</key>
				<string>Wildman</string>
				<key>RocketMass</key>
				<real>5.784999847412109</real>
				<key>RocketMotorSize</key>
				<integer>75</integer>
			</dict>
			<dict>
				<key>RocketCD</key>
				<real>0.5</real>
				<key>RocketDiameter</key>
				<real>0.1571498066186905</real>
				<key>RocketKitName</key>
				<string>Ultimate Wildman</string>
				<key>RocketLength</key>
				<real>3.657599925994873</real>
				<key>RocketManufacturer</key>
				<string>Wildman</string>
				<key>RocketMass</key>
				<real>13.44699954986572</real>
				<key>RocketMotorSize</key>
				<integer>98</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
