<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Rocket</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Diameter</string>
			<key>Key</key>
			<string>SmartLaunch_Diameter_Unit</string>
			<key>DefaultValue</key>
			<string>in</string>
			<key>Titles</key>
			<array>
				<string>Inches</string>
				<string>mm</string>
			</array>
			<key>Values</key>
			<array>
				<string>in</string>
				<string>mm</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Length</string>
			<key>Key</key>
			<string>SmartLaunch_Length_Unit</string>
			<key>DefaultValue</key>
			<string>in</string>
			<key>Titles</key>
			<array>
				<string>Inches</string>
				<string>Feet</string>
				<string>Meters</string>
			</array>
			<key>Values</key>
			<array>
				<string>in</string>
				<string>ft</string>
				<string>m</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Mass</string>
			<key>Key</key>
			<string>SmartLaunch_Mass_Unit</string>
			<key>DefaultValue</key>
			<string>lbs</string>
			<key>Titles</key>
			<array>
				<string>oz</string>
				<string>lbs</string>
				<string>kg</string>
			</array>
			<key>Values</key>
			<array>
				<string>oz</string>
				<string>lbs</string>
				<string>kg</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Simulation</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Temperature</string>
			<key>Key</key>
			<string>SmartLaunch_Temperature_Unit</string>
			<key>DefaultValue</key>
			<string>°F</string>
			<key>Titles</key>
			<array>
				<string>Fahrenheit</string>
				<string>Celcius</string>
			</array>
			<key>Values</key>
			<array>
				<string>°F</string>
				<string>°C</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Altitude</string>
			<key>Key</key>
			<string>SmartLaunch_Altitude_Unit</string>
			<key>DefaultValue</key>
			<string>ft</string>
			<key>Titles</key>
			<array>
				<string>Feet</string>
				<string>Meters</string>
			</array>
			<key>Values</key>
			<array>
				<string>ft</string>
				<string>m</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Velocity</string>
			<key>Key</key>
			<string>SmartLaunch_Velocity_Unit</string>
			<key>DefaultValue</key>
			<string>MPH</string>
			<key>Titles</key>
			<array>
				<string>MPH</string>
				<string>Meters</string>
			</array>
			<key>Values</key>
			<array>
				<string>MPH</string>
				<string>m/s</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Thrust</string>
			<key>Key</key>
			<string>SmartLaunch_Thrust_Unit</string>
			<key>DefaultValue</key>
			<string>lbs</string>
			<key>Titles</key>
			<array>
				<string>Pounds</string>
				<string>Newtons</string>
			</array>
			<key>Values</key>
			<array>
				<string>lbs</string>
				<string>N</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Acceleration</string>
			<key>Key</key>
			<string>SmartLaunch_Acceleration_Unit</string>
			<key>DefaultValue</key>
			<string>G</string>
			<key>Titles</key>
			<array>
				<string>Gravities</string>
				<string>M/Sec^2</string>
			</array>
			<key>Values</key>
			<array>
				<string>G</string>
				<string>m/s^2</string>
			</array>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
